<html>
<head>
    <title>
        Sistema de control de Ingreso
    </title>
</head>
<body>
    <h1>Mantenimiento de Preguntas</h1>
    <hr>
    <p><a href=/m_preguntas_nuevo>Nueva Pregunta</a></p>
    <table border=1>
        <tr>
            <th>ID</th>
            <th>CURSO</th>
            <th>PREGUNTA</th>
            <th>RESPUESTA CORRECTA</th>
            <th colspan=2>ACCIONES</th>
        </tr>
        <% records.forEach(function(preguntas){ %>
            <tr>
                <td><%= preguntas._id %></td>
                <td><%= preguntas.curso %></td>
                <td><%= preguntas.pregunta %></td>
                <td><%= preguntas.resCorr %></td>
                <td><a href=/m_preguntas_editar/<%= preguntas._id %>>Editar</a> </td>
                <td><a href=/m_preguntas_eliminar/<%= preguntas._id %>>Eliminar</a> </td>
            </tr>
        <% }); %>
    </table>
    <h3>Opciones</h3>
    <ul>
        <li><a href=/m_docentes_listado>Docentes</a></li><br>
        <li><a href=/m_estudiantes_listado>Estudiantes</a></li><br>
        <li><a href=/m_preguntas_listado>Preguntas</a></li><br>
    </ul>
</body>
</html>
